.breadcrumbs {
    padding-top: 20px;
}
.breadcrumbs__list {
    display: flex;
    gap: 5px;
    color: #969EAE;
}
.breadcrumbs__item {
    display: flex;
    gap: 5px; 
}

@media (min-width: 820px) {
    .breadcrumbs {
        padding-top: 24px;
    }
}